{% extends 'base.html' %}

{%block jumbotron %}
<div class="jumbotron">
      <div class="container">
        <h1>This is us</h1>
        <p lingdex="0" style="
    color: rgb(207, 38, 38);
">Turtle best</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

{%endblock%}

{% block content %}
 <div class='col-sm-12' style = 'text-align:center;'>
                <h1>
                    Read More
                </h1>
</div>
{% endblock content %}